.eventsGenerator {
  width: calc(100vw - var(--padding) * 3 - 360px);
  padding: var(--half-padding);
  position: fixed;
  top: var(--padding);
  left: calc(360px + var(--double-padding));
  background-color: var(--dark-color-half-alpha);
  backdrop-filter: var(--blur-filter);
  display: flex;
  flex-wrap: wrap;
}