.eventQueue {
  width: 360px;
  position: fixed;
  top: var(--padding);
  left: var(--padding);
  background-color: var(--dark-color-half-alpha);
  backdrop-filter: var(--blur-filter);
}

.buttonsContainer {
  padding: var(--half-padding);
  display: flex;
  flex-wrap: wrap;
}

.eventList {
  padding: var(--padding);
}

.event {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event + .event {
  margin-top: var(--half-padding);
}