@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --dark-color: rgb(29, 29, 29);
  --dark-color-half-alpha: rgba(29, 29, 29, 0.5);
  --light-color: rgb(247, 251, 254);
  --light-color-half-alpha: rgba(247, 251, 254, 0.5);
  --blur-filter: blur(18px);
  --padding: 18px;
  --double-padding: calc(var(--padding) * 2);
  --half-padding: calc(var(--padding) / 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 14px;
  line-height: 1.5;
  color: var(--light-color);
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-color);
}

button,
input,
textarea {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  width: 150px;
  max-width: 150px;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: var(--half-padding);
  padding: 0 var(--padding);
  border: 1px solid var(--light-color);
}